@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.shadow-left {
  box-shadow: rgb(15 16 17) 100px 0px 50px -30px inset;
}

/* HERO HOMEPAGE */
.hero::before {
  background: linear-gradient(0deg, #141414, hsla(0, 0%, 8%, 0.5));
  content: '';
  inset: 0;
  position: absolute;
}

/* PREMIRERE HOMEPAGE */
.premiere::before {
  background: linear-gradient(180deg, #141414, hsla(0, 0%, 8%, 0.5));
  content: '';
  inset: 0;
  position: absolute;
}

/* CAROUSEL HOMEPAGE */
.carousel__card {
  width: 95% !important;
  height: 280px;
  cursor: grab;
  position: relative;
}

.carousel__card:hover img {
  filter: brightness(50%);
  transform: scale(0.95);
}

.carousel__card:hover h3 {
  opacity: 1;
  color: #fff;
}
.carousel__card h3 {
  opacity: 0;
}

.carousel__card:focus,
.carousel__card:active,
.gallery_card:focus,
.gallery_card.active {
  outline: none;
}

/* H1 PAGE */
@media (min-width: 640px) {
  .fancy-undeline {
    background-image: linear-gradient(120deg, #dc1414, #781010 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 80%;
    transition: background-size 0.25s ease-in;
  }

  .fancy-undeline:hover {
    background-size: 100% 88% !important;
  }
}

/* Gallery Page */

.gallery_card {
  width: 99% !important;
  height: 220px;
}

/* Fullscreen Gallery */

.slick-prev::before,
.slick-next::before {
  font-size: 70px !important;
}

.slick-prev {
  left: -120px !important;
}
.slick-next {
  right: -65px !important;
}

.thumbnail .slick-slide {
  width: 230px !important; /* tu możesz ustawić inny rozmiar */
  margin: 0 10px !important;
}

.thumbnail .slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}
