@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.shadow-left {
  box-shadow: rgb(15 16 17) 100px 0px 50px -30px inset;
}

/* HERO HOMEPAGE */
.hero::before {
  background: linear-gradient(0deg, #141414, hsla(0, 0%, 8%, 0.5));
  content: '';
  inset: 0;
  position: absolute;
}

/* PREMIRERE HOMEPAGE */
.premiere::before {
  background: linear-gradient(180deg, #141414, hsla(0, 0%, 8%, 0.5));
  content: '';
  inset: 0;
  position: absolute;
}

/* CAROUSEL HOMEPAGE */
.carousel__card {
  width: 95% !important;
  height: 280px;
  cursor: grab;
  position: relative;
}
.dlc__card {
  height: 280px;
  /* width: 200px !important; */
  padding: 0 5px;
}

.carousel__card:hover img,
.dlc__card:hover img {
  filter: brightness(50%);
  transform: scale(0.95);
}

.carousel__card:hover h3,
.dlc__card:hover h3 {
  opacity: 1;
  color: #fff;
}
.carousel__card h3,
.dlc__card h3 {
  opacity: 0;
}

.carousel__card:focus,
.carousel__card:active,
.dlc__card:focus,
.dlc__card:active .gallery_card:focus,
.gallery_card.active {
  outline: none;
}

.thumbnail .slick-slide {
  width: 230px !important;
  margin: 0 10px !important;
}

.thumbnail .slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery_card {
  height: 220px;
}

.dlc__carousel {
  width: 100%;
  margin: 0 auto;
}

.dlc__carousel .slick-slide {
  width: auto;
  max-width: 900px !important;
  margin: 0 auto;
}

.dlc__carousel .slick-track {
  display: flex;
}
.wishlist-title {
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}
.wishlist-title::after {
  content: '';
  display: block;
  width: 2px;
  height: 50%;
  margin: 0 auto;
  background-image: linear-gradient(120deg, #dc1414, #781010 100%);
}

@media (min-width: 640px) {
  .fancy-undeline {
    background-image: linear-gradient(120deg, #dc1414, #781010 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 80%;
    transition: background-size 0.25s ease-in;
  }

  .fancy-undeline:hover {
    background-size: 100% 88% !important;
  }
  .gallery_card {
    height: 200px;
  }
}

@media (min-width: 1024px) {
  /* Fullscreen Gallery */
  .slick-prev::before,
  .slick-next::before {
    font-size: 50px !important;
  }

  .slick-prev {
    left: -90px !important;
  }
  .slick-next {
    right: -55px !important;
  }
  .gallery_card {
    height: 220px;
  }
}

@media (min-width: 1280px) {
  /* Fullscreen Gallery */
  .slick-prev::before,
  .slick-next::before {
    font-size: 70px !important;
  }

  .slick-prev {
    left: -120px !important;
  }
  .slick-next {
    right: -65px !important;
  }
}

@media (min-width: 1536px) {
}
